$navbar-default-bg: #D17354;


@import "bootstrap-sprockets";
@import "bootstrap";

.navbar{
    border-radius: 0px;
}

#logo{
    float: left;
    font-size: 1.7em;
    color: #FFF;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
    margin-top: 10px;
}

#logo:hover{
    text-decoration: none;
    color: #FFF;
}

.center{
    text-align: center;
}

.jumbotron{
    background-color: #ca5e3a;
}

.jumbotron h1{
    color: #FFF;
}

.jumbotron .btn{
    background-color: transparent;
    color: #FFF;
    border-color: #FFF;
}

footer{
    position: relative;
    margin-top: 45px;
    padding-top: 5px;
    border-top: 1px solid #eaeaea;
    color: #777;
    bottom: 20px;
    width: 98%;
}

footer a:hover{
    color: 222;
    text-decoration: none;
}

footer small{
    float: left;
}

footer ul{
    float: right;
    list-style: none;
}